Repository atsushifx/zenn-dev: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, textlint, markdownlint

secretlint:
  run: 'secretlint --secretlintrc ./configs/secretlint.config.yaml --secretlintignore .gitignore --maskSecrets "{staged_files}"
  
    '

textlint:
  run: 'textlint --config ./configs/textlintrc.yaml --cache --cache-location .cache/textlint_cache "{staged_files}"
  
    '

markdownlint:
  run: 'markdownlint-cli2 --config ./configs/.markdownlint.yaml "{staged_files}"
  
    '

config: cleanup lint/tool settings and expand .gitignore rules
  .editorconfig
  .github/copilot-instrunctions.md
  .gitignore
  .mcp.json
  .vale.ini
  .vscode/cspell/dicts/zenn-dev.dic
  configs/.markdownlint.yaml
  configs/.textlint/allowlist.yml
  configs/gitleaks.ci.toml
  configs/gitleaks.toml
  configs/secretlint.config.yaml
  configs/textlintrc.yaml
  dprint.jsonc
  lefthook.yml
  temp/chatgpt-log-2025.04.28.md
Due: secretlint, textlint, markdownlint

merge (#77): config: cleanup lint/tool settings and expand .gitignore rules (#77)
  .editorconfig
  .github/copilot-instrunctions.md
  .gitignore
  .mcp.json
  .vale.ini
  .vscode/cspell/dicts/zenn-dev.dic
  configs/.markdownlint.yaml
  configs/.textlint/allowlist.yml
  configs/gitleaks.ci.toml
  configs/gitleaks.toml
  configs/secretlint.config.yaml
  configs/textlintrc.yaml
  dprint.jsonc
  lefthook.yml
  temp/chatgpt-log-2025.04.28.md
Due: secretlint, textlint, markdownlint

---- 2025-11-15 17:53:56
  configs/codegpt.config.yaml
  scripts/ag-install-linter.ps1
  scripts/ag-install-linter.sh
  scripts/common/CommonFunctions.ps1
  scripts/common/init.ps1
  scripts/install-dev-tools.ps1
  scripts/install-doc-tools.ps1
  scripts/libs/AgDevMode.ps1
  scripts/libs/AgInstaller.ps1
  scripts/prepare-commit-msg.sh
Due: secretlint

merge (#78): chore(scripts): remove legacy scripts and add AI + dev tooling support
  configs/codegpt.config.yaml
  scripts/ag-install-linter.ps1
  scripts/ag-install-linter.sh
  scripts/common/CommonFunctions.ps1
  scripts/common/init.ps1
  scripts/install-dev-tools.ps1
  scripts/install-doc-tools.ps1
  scripts/libs/AgDevMode.ps1
  scripts/libs/AgInstaller.ps1
  scripts/prepare-commit-msg.sh
Due: secretlint

Create codeql.yml
  .github/workflows/codeql.yml
Due: secretlint

Create codeql-actions-only.yml
  .github/workflows/codeql-actions-only.yml
Due: secretlint

ci(workflows): add secure unified lint/scan and CodeQL workflows
  .github/workflows/ci-lint-articles.yaml
  .github/workflows/ci-scan-all.yml
  .github/workflows/ci-secrets-scan.yaml
  .github/workflows/codeql-actions-only.yml
  .github/workflows/codeql.yml
  scripts/install-doc-tools.sh
Due: secretlint

merge (#79): ci(workflows): add secure unified lint/scan and CodeQL workflows
  .github/workflows/ci-lint-articles.yaml
  .github/workflows/ci-scan-all.yml
  .github/workflows/ci-secrets-scan.yaml
  .github/workflows/codeql-actions-only.yml
  .github/workflows/codeql.yml
  scripts/install-doc-tools.sh
Due: secretlint

config(cspell): cspell 辞書に actionlint と ghalint を追加
  .vscode/cspell/dicts/zenn-dev.dic
Due: secretlint

config(PULL_REQUEST): pull request テンプレートを削除
  .github/PULL_REQUEST_TEMPLATE.md
Due: secretlint, textlint, markdownlint

docs: replace code of conduct with security policy
  .github/SECURITY.md
  CODE_OF_CONDUCT.md
  CODE_of_CONDUCT.ja.md
Due: secretlint, textlint, markdownlint

chore(install-doc-tools): textlint の AIライティング向けプリセットを追加
  scripts/install-doc-tools.sh
Due: secretlint

merge (#80): docs: replace code of conduct with security policy
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .vscode/cspell/dicts/zenn-dev.dic
  CODE_OF_CONDUCT.md
  CODE_of_CONDUCT.ja.md
  scripts/install-doc-tools.sh
Due: secretlint, textlint, markdownlint

deps: update zenn-cli and add pnpm lockfile
  package.json
  pnpm-lock.yaml
Due: none

merge (#81): deps: update zenn-cli and add pnpm lockfile
  package.json
  pnpm-lock.yaml
Due: none

ci(workflows): update CodeQL action SHAs and checkout version
  .github/workflows/ci-lint-articles.yaml
  .github/workflows/codeql-actions-only.yml
Due: secretlint

merge (#84): ci(workflows): update CodeQL action SHAs and checkout version
  .github/workflows/ci-lint-articles.yaml
  .github/workflows/codeql-actions-only.yml
Due: secretlint

config(cspell): cspell 辞書に reviewdog を追加
  .vscode/cspell/dicts/zenn-dev.dic
Due: secretlint

config(textlint): add VS Code settings and extend allowlist
  .vscode/settings.json
  configs/.textlint/allowlist.yml
Due: secretlint

docs(reusable-common-manage): add comprehensive guide up to section 2.6
  articles/ci-github-reusable-common-manage.md
Due: secretlint, textlint, markdownlint

docs(reusable-common-manage): expand and refine section 3 (inputs/outputs/private refs)
  articles/ci-github-reusable-common-manage.md
Due: secretlint, textlint, markdownlint

docs(reusable-common-manage): expand section 4: common errors
  articles/ci-github-reusable-common-manage.md
Due: secretlint, textlint, markdownlint

docs(reusable-common-manage): セクション4.2を拡充し権限エラーの対策を追加
  articles/ci-github-reusable-common-manage.md
Due: secretlint, textlint, markdownlint

docs(reusable-common-manage): セクション 5.2まで執筆
  articles/ci-github-reusable-common-manage.md
Due: secretlint, textlint, markdownlint

docs(reusable-common-manage): restructure article with improved organization and clarity
  articles/ci-github-reusable-common-manage.md
Due: secretlint, textlint, markdownlint

docs(reusable-common-manage): 記事を再構成し、1.を執筆
  articles/ci-github-reusable-common-manage.md
Due: secretlint, textlint, markdownlint

ci(workflows): push ブランチを main/master/releases に限定
  .github/workflows/ci-scan-all.yml
Due: secretlint

merge (#93): ci(workflows): push ブランチを main/master/releases に限定
  .github/workflows/ci-scan-all.yml
Due: secretlint

config(editor): update cspell dictionary and textlint settings
  .vscode/cspell/dicts/zenn-dev.dic
  .vscode/settings.json
  configs/.textlint/allowlist.yml
Due: secretlint

docs(reusable-common-manage): restructure and expand CI reusable workflows article
  articles/ci-github-reusable-common-manage.md
Due: secretlint, textlint, markdownlint

chore(scripts): 開発支援設定とフック生成処理を整理
  configs/.textlint/dicts/prh-atsushifx.yml
  configs/.textlint/dicts/prh.yml
  configs/.textlint/dicts/smarthr/prh-idiomatic-usage.yml
  configs/commitlint.config.js
  configs/textlintrc.yaml
  dprint.jsonc
  scripts/common/CommonFunctions.ps1
  scripts/common/init.ps1
  scripts/install-dev-tools.ps1
  scripts/install-doc-tools.ps1
  scripts/install-doc-tools.sh
  scripts/libs/AgDevMode.ps1
  scripts/libs/AgInstaller.ps1
  scripts/prepare-commit-msg.sh
  scripts/prepare.sh
Due: secretlint

merge (#101): config(deps): update GitHub Actions and development dependencies
  .github/workflows/ci-lint-articles.yaml
  .github/workflows/ci-scan-all.yml
  .github/workflows/codeql-actions-only.yml
  package.json
  pnpm-lock.yaml
Due: secretlint

deps(package): package.json の不要なエントリを削除
  package.json
Due: none

config(cspell): cspell のユーザー設定を調整
  .vscode/cspell.json
Due: secretlint

config(textlint): prh 辞書ファイルを削除
  configs/.textlint/dicts/prh-atsushifx.yml
  configs/.textlint/dicts/prh.yml
  configs/.textlint/dicts/smarthr/prh-idiomatic-usage.yml
Due: secretlint

merge (#103): config: Update configurations and remove unnecessary dependencies
  .vscode/cspell.json
  configs/.textlint/dicts/prh-atsushifx.yml
  configs/.textlint/dicts/prh.yml
  configs/.textlint/dicts/smarthr/prh-idiomatic-usage.yml
  package.json
Due: secretlint

config: update ignore rules and editor/lint dictionaries
  .editorconfig
  .gitignore
  .vscode/cspell.json
  configs/.textlint/dicts/prh-my-settings.yml
  configs/.textlint/dicts/prh.yml
Due: secretlint

feat: update commit message tooling and hooks
  .claude/agents/commit-message-generator.md
  lefthook.yml
  scripts/prepare-commit-msg.sh
Due: secretlint, textlint, markdownlint

Path conditions:
  secretlint: any of: **/*
  textlint: any of: **/*.md
  markdownlint: any of: **/*.md
