Repository atsushifx/zenn-dev: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, textlint, markdownlint

secretlint:
  run: secretlint --maskSecrets --secretlintignore .gitignore "{staged_files}"

textlint:
  run: textlint --cache "{staged_files}"

markdownlint:
  run: markdownlint-cli2 "{staged_files}"

chore: remove husky not using git hook
  .husky/ci-lint.sh
  .husky/commit-msg
  .husky/pre-commit
Due: secretlint

build: lint file only merged markdown --
  .github/workflows/reviewdog.yaml
  package.json
Due: secretlint

build: lint file only merged markdown (#21)
  .github/workflows/reviewdog.yaml
  package.json
Due: secretlint

docs: articles/installmedia: ひらいた漢字を戻す
  articles/dev-proxmox-setup-installmedia.md
Due: secretlint, textlint, markdownlint

build: gitignore: cacheファイルをuntrack build: reviewdog: 手動実行を追加
  .github/workflows/reviewdog.yaml
  .gitignore
Due: secretlint

Articles/proxmox-install (#22)
  .github/workflows/reviewdog.yaml
  .gitignore
  articles/dev-proxmox-setup-installmedia.md
Due: secretlint, textlint, markdownlint

docs: articles/installmedia: ひらいた漢字を戻す chore: gitignore: キャッシュuntrack
  .gitignore
  articles/dev-proxmox-setup-installmedia.md
Due: secretlint, textlint, markdownlint

chore: articles/overview: 表記揺れの修正 --
  .textlint/allowlist.yml
  .textlint/dict/smarthr/prh-idiomatic-usage.yml
  articles/dev-proxmox-setup-overview.md
Due: secretlint, textlint, markdownlint

fix: reviewdog: ブランチを変更
  .github/workflows/reviewdog.yaml
Due: secretlint

build: reviewdog : change order of get changed files job
  .github/workflows/reviewdog.yaml
Due: secretlint

build: reviewdog: check if changed_file is '' / save cache
  .github/workflows/reviewdog.yaml
Due: secretlint

chore: add installlinter for linux
  installlinter.sh
Due: none

fix (reviewdog) : checkout with fetch-depth for fetch main branch
  .github/workflows/reviewdog.yaml
Due: secretlint

chore: add installlinter for linux (#24)
  installlinter.sh
Due: none

publish: installmedia
  articles/dev-proxmox-setup-installmedia.md
Due: secretlint, textlint, markdownlint

publish: installmedia (#25)
  articles/dev-proxmox-setup-installmedia.md
Due: secretlint, textlint, markdownlint

build: fetch-depth set to 0
  .github/workflows/reviewdog.yaml
Due: secretlint

fix: golang kanji-hiraki
  articles/golang-win-install.md
Due: secretlint, textlint, markdownlint

fix: reviewdog: fetch main
  .github/workflows/reviewdog.yaml
Due: secretlint

fix: reviewdog: add fetch main jobs
  .github/workflows/reviewdog.yaml
Due: secretlint

fix: golang kanji-hiraki (#26)
  articles/golang-win-install.md
Due: secretlint, textlint, markdownlint

fix: reviewdog: add missed '"'
  .github/workflows/reviewdog.yaml
Due: secretlint

Update develop-lang-rust-install.md
  articles/develop-lang-rust-install.md
Due: secretlint, textlint, markdownlint

Update reviewdog.yaml
  .github/workflows/reviewdog.yaml
Due: secretlint

fix: fetch: main -> origin/main
  .github/workflows/reviewdog.yaml
Due: secretlint

fix: fetch main
  .github/workflows/reviewdog.yaml
Due: secretlint

fix: LICENSE: clear end year
  LICENSE
Due: none

fix: LICENSE: clear end year (#28)
  LICENSE
Due: none

fix: wsl2-copy: fix '`'
  articles/wsl2-distribution-copy.md
Due: secretlint, textlint, markdownlint

fix: articles/wsl2: 日本語の修正 --
  .github/workflows/reviewdog.yaml
  .textlint/allowlist.yml
  articles/wsl2-distribution-copy.md
Due: secretlint, textlint, markdownlint

fix: add node_modules to cache
  .github/workflows/reviewdog.yaml
Due: secretlint

fix: wsl2-copy: fix '`' (#29)
  .textlint/allowlist.yml
  articles/wsl2-distribution-copy.md
Due: secretlint, textlint, markdownlint

fix: vscode-wsl
  articles/tips-vscode-wsl-remotedir.md
Due: secretlint, textlint, markdownlint

fix: vscode-wsl: fix text by linting message
  articles/tips-vscode-wsl-remotedir.md
Due: secretlint, textlint, markdownlint

fix: gitconfig
  articles/devtool-git-config.md
Due: secretlint, textlint, markdownlint

fix: vscode-wsl (#30)
  articles/tips-vscode-wsl-remotedir.md
Due: secretlint, textlint, markdownlint

fix: articles/git-config: 日本語の修正 --
  .textlint/allowlist.yml
  articles/devtools-git-config.md
Due: secretlint, textlint, markdownlint

fix: gitconfig (#31)
  .textlint/allowlist.yml
  articles/devtools-git-config.md
Due: secretlint, textlint, markdownlint

fix: reviewdog: node_modulesをキャッシュに保存
  .github/workflows/reviewdog.yaml
Due: secretlint

publish: devtools-git-config
  articles/devtools-git-config.md
Due: secretlint, textlint, markdownlint

Path conditions:
  secretlint: any of: **/*
  textlint: any of: **/*.md
  markdownlint: any of: **/*.md
