Repository atsushifx/zenn-dev: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, textlint, markdownlint

lefthook.yml:

# src: lefthook.yml
# @(#) : lefthook config
#
# Copyright (c) 2025 atsushifx <http://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks protect --config ./configs/gitleaks.toml --staged

    secretlint:
      glob: "**/*"
      run: >
        secretlint
        --secretlintrc ./configs/secretlint.config.yaml
        --secretlintignore .gitignore
        --maskSecrets
        "{staged_files}"
      skip:
        - empty

    textlint:
      glob: "**/*.md"
      run: >
        textlint
        --config ./configs/textlintrc.yaml
        --cache
        --cache-location .cache/textlint_cache
        "{staged_files}"
      skip:
        - empty

    markdownlint:
      glob: "**/*.md"
      run: >
        markdownlint-cli2
        --config ./configs/.markdownlint.yaml
        "{staged_files}"
      skip:
        - empty

prepare-commit-msg:
  commands:
    prepare-message-script:
      run: bash -c './scripts/prepare-commit-msg.sh --model gpt-5.2 --git-buffer'

# check commit message as Conventional Commit
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: commitlint --config ./configs/commitlint.config.js --edit

chore(.claude/rules): add .gitignore to exclude deckrd files
  .claude/rules/.gitignore
Due: secretlint

chore(.local/deckrd): add deckrd project config for workflows actions
  .local/deckrd/project.json
Due: secretlint

config(deckrd/gitignore): add deckrd internal design directory config
  docs/.deckrd/.gitignore
  docs/.deckrd/README.md
Due: secretlint, textlint, markdownlint

merge (#169): chore(deckrd): initialize deckrd internal design directory and project config
  .claude/rules/.gitignore
  .local/deckrd/project.json
  docs/.deckrd/.gitignore
  docs/.deckrd/README.md
Due: secretlint, textlint, markdownlint

docs(deckrd/requirement): for ci-lint-articles composite action migration
  docs/.deckrd/workflows/lint-article/requirements/requirements.md
Due: secretlint, textlint, markdownlint

docs(deckrd/spec): add design specification for lint-article action
  docs/.deckrd/workflows/lint-article/specifications/specifications.md
Due: secretlint, textlint, markdownlint

docs(impl): update agla-doc-tools ref to v0.1.1
  docs/.deckrd/workflows/lint-article/implementation/implementation.md
Due: secretlint, textlint, markdownlint

docs(tasks): update tasks
  docs/.deckrd/workflows/lint-article/tasks/tasks.md
Due: secretlint, textlint, markdownlint

ci(workflows/lint-articles): migrate workflow to composite actions
  .github/workflows/ci-lint-articles.yaml
  .github/workflows/scripts/resolve-sha.sh
Due: secretlint

ci(scripts/lint): implement article lint script
  .github/workflows/scripts/lint.sh
Due: secretlint

test(ci/lint-articles): add workflow structure tests
  .github/workflows/scripts/__tests__/unit/ci_lint_articles_yaml.spec.sh
Due: secretlint

test(unit/resolve-sha): add ShellSpec unit tests
  .github/workflows/scripts/__tests__/unit/resolve_sha.spec.sh
Due: secretlint

docs(deckrd/tasks): complete lint workflow task tracking
  docs/.deckrd/workflows/lint-article/tasks/tasks.md
Due: secretlint, textlint, markdownlint

test(unit/lint-sh): add ShellSpec tests for lint.sh
  .github/workflows/scripts/__tests__/unit/lint_sh.spec.sh
Due: secretlint

merge (#170): ci(workflows): migrate lint workflow to composite actions
  .github/workflows/ci-lint-articles.yaml
  .github/workflows/scripts/__tests__/unit/ci_lint_articles_yaml.spec.sh
  .github/workflows/scripts/__tests__/unit/lint_sh.spec.sh
  .github/workflows/scripts/__tests__/unit/resolve_sha.spec.sh
  .github/workflows/scripts/lint.sh
  .github/workflows/scripts/resolve-sha.sh
  docs/.deckrd/workflows/lint-article/implementation/implementation.md
  docs/.deckrd/workflows/lint-article/requirements/requirements.md
  docs/.deckrd/workflows/lint-article/specifications/specifications.md
  docs/.deckrd/workflows/lint-article/tasks/tasks.md
Due: secretlint, textlint, markdownlint

ci(workflows): update lint workflow action refs and checkout settings
  .github/workflows/ci-lint-articles.yaml
Due: secretlint

docs(deckrd/impl): update composite action SHA refs
  docs/.deckrd/workflows/lint-article/implementation/implementation.md
Due: secretlint, textlint, markdownlint

docs(deckrd/tasks): update composite action SHA refs
  docs/.deckrd/workflows/lint-article/tasks/tasks.md
Due: secretlint, textlint, markdownlint

fix(scripts/resolve-sha): improve commit range detection
  .github/workflows/scripts/resolve-sha.sh
Due: secretlint

fix(scripts/lint): improve lint execution reliability
  .github/workflows/scripts/lint.sh
Due: secretlint

test(ci/unit): remove old yaml structure spec
  .github/workflows/scripts/__tests__/unit/ci_lint_articles_yaml.spec.sh
Due: secretlint

test(ci/unit/lint): rename spec file and add output assertions
  .github/workflows/scripts/__tests__/unit/lint.unit.spec.sh
Due: secretlint

test(ci/unit/resolve-sha): rename spec file to unit.spec.sh convention
  .github/workflows/scripts/__tests__/unit/resolve_sha.unit.spec.sh
Due: secretlint

merge (#171): fix(ci/workflows): improve lint workflow reliability and test structure
  .github/workflows/ci-lint-articles.yaml
  .github/workflows/scripts/__tests__/unit/ci_lint_articles_yaml.spec.sh
  .github/workflows/scripts/__tests__/unit/lint.unit.spec.sh
  .github/workflows/scripts/__tests__/unit/resolve_sha.unit.spec.sh
  .github/workflows/scripts/lint.sh
  .github/workflows/scripts/resolve-sha.sh
  docs/.deckrd/workflows/lint-article/implementation/implementation.md
  docs/.deckrd/workflows/lint-article/tasks/tasks.md
Due: secretlint, textlint, markdownlint

config(editorconfig,gitignore): expand ignore patterns
  .editorconfig
  .gitignore
Due: none

config(package): update package configuration
  package.json
  pnpm-lock.yaml
Due: none

config(dprint): add toml plugin and include toml
  dprint.jsonc
Due: none

config(lefthook): change commit message model
  lefthook.yml
Due: none

config(configs/textlint): update textlint configuration
  .textlintignore
  configs/textlintrc.yaml
Due: secretlint

config(configs/markdownlint): update markdownlint configuration
  configs/.markdownlint-cli2.yaml
  configs/.markdownlint.yaml
Due: secretlint

config(configs/actionlint): remove null config-variables entry
  configs/actionlint.yaml
Due: secretlint

fix(runners/*): refine shell runner argument handling
  runners/run-shellcheck.sh
  runners/run-shellspec.sh
  runners/run-shfmt.sh
Due: secretlint

fix(runners): require args and show usage
  runners/run-shellspec.sh
Due: secretlint

merge (#172): config(configs): update config files and fix shell runner argument handling
  .editorconfig
  .gitignore
  .textlintignore
  configs/.markdownlint-cli2.yaml
  configs/.markdownlint.yaml
  configs/actionlint.yaml
  configs/textlintrc.yaml
  dprint.jsonc
  lefthook.yml
  package.json
  pnpm-lock.yaml
  runners/run-shellcheck.sh
  runners/run-shellspec.sh
  runners/run-shfmt.sh
Due: secretlint

fix(scripts): use head commit parent for workflow_dispatch
  .github/workflows/scripts/__tests__/unit/resolve_sha.unit.spec.sh
  .github/workflows/scripts/resolve-sha.sh
Due: secretlint

style(runners): remove blank lines
  runners/run-shellspec.sh
  runners/run-shfmt.sh
Due: secretlint

merge (#174): fix(ci/scripts): resolve BEFORE_SHA from head commit parent
  .github/workflows/scripts/__tests__/unit/resolve_sha.unit.spec.sh
  .github/workflows/scripts/resolve-sha.sh
  runners/run-shellspec.sh
  runners/run-shfmt.sh
Due: secretlint

config(shellspec): update shellspec defaults
  .shellspec
Due: none

docs(deckrd/lint-article): update lint article workflow design
  docs/.deckrd/workflows/lint-article/implementation/implementation.md
  docs/.deckrd/workflows/lint-article/requirements/requirements.md
  docs/.deckrd/workflows/lint-article/specifications/specifications.md
  docs/.deckrd/workflows/lint-article/tasks/tasks.md
Due: secretlint, textlint, markdownlint

ci(workflows): update CI workflows and SHA resolution
  .github/workflows/ci-lint-articles.yaml
  .github/workflows/ci-scan-secrets.yml
  .github/workflows/ci-workflows-qa.yml
  .github/workflows/scripts/__tests__/unit/resolve_sha.unit.spec.sh
  .github/workflows/scripts/resolve-sha.sh
Due: secretlint
