Repository atsushifx/zenn-dev: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, textlint, markdownlint

lefthook.yml:

# src: lefthook.yml
# @(#) : lefthook config
#
# Copyright (c) 2025 atsushifx <http://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks protect --config ./configs/gitleaks.toml --staged

    secretlint:
      glob: "**/*"
      run: >
        secretlint
        --secretlintrc ./configs/secretlint.config.yaml
        --secretlintignore .gitignore
        --maskSecrets
        "{staged_files}"
      skip:
        - empty

    textlint:
      glob: "**/*.md"
      run: >
        textlint
        --config ./configs/textlintrc.yaml
        --cache
        --cache-location .cache/textlint_cache
        "{staged_files}"
      skip:
        - empty

    markdownlint:
      glob: "**/*.md"
      run: >
        markdownlint-cli2
        --config ./configs/.markdownlint.yaml
        "{staged_files}"
      skip:
        - empty

prepare-commit-msg:
  commands:
    prepare-message-script:
      run: bash -c './scripts/prepare-commit-msg.sh --model gpt-5.2 --git-buffer'

# check commit message as Conventional Commit
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: commitlint --config ./configs/commitlint.config.js --edit

config(textlint): update rules and allowlist
  configs/.textlint/allowlist.yml
  configs/textlintrc.yaml
Due: secretlint

config(github): GitHub Issue テンプレート (Documentation) を追加
  .github/ISSUE_TEMPLATE/document.yml
Due: secretlint

docs(reusable-workflows): restructure article and clarify design rationale
  articles/ci-github-reusable-common-manage.md
Due: secretlint, textlint, markdownlint

style(dependabot): normalize quote style in dependabot config
  .github/dependabot.yml
Due: secretlint

merge (#126): config: improve project configuration and maintenance workflows
  .github/ISSUE_TEMPLATE/document.yml
  .github/dependabot.yml
  .github/workflows/ci-lint-articles.yaml
  .github/workflows/codeql-actions-only.yml
  .vscode/cspell/dicts/zenn-dev.dic
  configs/.textlint/allowlist.yml
  configs/textlintrc.yaml
Due: secretlint

docs(reusable-workflow): add basics article for reusable workflows
  articles/ci-gha-reusable-workflows-01-basics.md
Due: secretlint, textlint, markdownlint

docs(01-basics): improve article structure and terminology
  articles/ci-gha-reusable-workflows-01-basics.md
Due: secretlint, textlint, markdownlint

docs(01-basics): refine terminology and structure
  articles/ci-gha-reusable-workflows-01-basics.md
Due: secretlint, textlint, markdownlint

docs(01-basics): clarify terminology and improve consistency
  articles/ci-gha-reusable-workflows-01-basics.md
Due: secretlint, textlint, markdownlint

docs(01-basics): refine conclusion wording and readability
  articles/ci-gha-reusable-workflows-01-basics.md
Due: secretlint, textlint, markdownlint

docs(01-basics): add terminology section and expand content
  articles/ci-gha-reusable-workflows-01-basics.md
Due: secretlint, textlint, markdownlint

docs(01-basics): add appendix section
  articles/ci-gha-reusable-workflows-01-basics.md
Due: secretlint, textlint, markdownlint

docs(01-basics): refine terminology and formatting consistency
  articles/ci-gha-reusable-workflows-01-basics.md
Due: secretlint, textlint, markdownlint

docs(01-basics): refine topics and improve text consistency
  articles/ci-gha-reusable-workflows-01-basics.md
Due: secretlint, textlint, markdownlint

config(cspell): add cicd term to dictionary
  .vscode/cspell/dicts/zenn-dev.dic
Due: secretlint

merge (#127): docs: add reusable workflows basics article
  .vscode/cspell/dicts/zenn-dev.dic
  articles/ci-gha-reusable-workflows-01-basics.md
Due: secretlint, textlint, markdownlint

publish: ci-gha-reusable-workflows-01-basics.md
  articles/ci-gha-reusable-workflows-01-basics.md
Due: secretlint, textlint, markdownlint

ci(scan-all): remove ci-scan-all.yml workflow
  .github/workflows/ci-scan-all.yml
Due: secretlint

ci(scan-secrets): add workflow for secret scanning
  .github/workflows/ci-scan-secrets.yml
Due: secretlint

ci(workflows-qa): add CI workflow QA pipeline with actionlint and ghalint
  .github/workflows/ci-workflows-qa.yml
Due: secretlint

ci(workflows): split CI workflows into dedicated scan and QA pipelines (#139)
  .github/workflows/ci-scan-all.yml
  .github/workflows/ci-scan-secrets.yml
  .github/workflows/ci-workflows-qa.yml
Due: secretlint

chore(scripts/lint-actions): add actionlint lint script
  scripts/lint-actionlint.sh
Due: secretlint

feat(scripts): replace prepare.sh with setup-dev-env script
  scripts/prepare.sh
  scripts/setup-dev-env.sh
Due: secretlint

feat(scripts/prepare-commit-msg): change to output option
  lefthook.yml
  scripts/prepare-commit-msg.sh
Due: secretlint

merge (#140): chore(scripts): update developer scripts for output option and env setup
  lefthook.yml
  scripts/lint-actionlint.sh
  scripts/prepare-commit-msg.sh
  scripts/prepare.sh
  scripts/setup-dev-env.sh
Due: secretlint

config(package): add dev scripts and bump version to 1.0.2
  package.json
Due: none

config(.gitignore): 除外設定を整理し最新の開発環境に対応
  .gitignore
Due: none

config(editorconfig): update copyright year format
  .editorconfig
Due: none

config(markdownlint): add cli2 config and update lint rules
  configs/.markdownlint-cli2.yaml
  configs/.markdownlint.yaml
Due: secretlint

config(lefthook): switch markdownlint config to markdownlint-cli2
  lefthook.yml
Due: none

config(commitlint): update header-max-length
  configs/commitlint.config.js
Due: secretlint

config(gitleaks,..): unify copyright year format
  configs/gitleaks.toml
  configs/secretlint.config.yaml
  configs/textlintrc.yaml
Due: secretlint

merge (#141): chore(configs): update package.json scripts and unify config files
  .editorconfig
  .github/workflows/ci-lint-articles.yaml
  .gitignore
  .vscode/cspell/dicts/zenn-dev.dic
  configs/.markdownlint-cli2.yaml
  configs/.markdownlint.yaml
  configs/.textlint/allowlist.yml
  configs/commitlint.config.js
  configs/gitleaks.toml
  configs/secretlint.config.yaml
  configs/textlintrc.yaml
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: secretlint

docs(ci/validate-env): add Gate pattern article for CI environment validation
  articles/ci-gha-secure-with-validate-environment.md
Due: secretlint, textlint, markdownlint

docs(ci/validate-env): clarify error output behavior on validation failure`
  articles/ci-gha-secure-with-validate-environment.md
Due: secretlint, textlint, markdownlint

deps(package): remove gha/test scripts and update is-wsl to 3.1.1
  package.json
  pnpm-lock.yaml
Due: none

ci(workflows): remove duplicate setup-node step in ci-lint-articles
  .github/workflows/ci-lint-articles.yaml
Due: secretlint

config(lefthook): update copyright year range in header
  lefthook.yml
Due: none

config(markdownlint): remove globs setting from markdownlint-cli2 config
  configs/.markdownlint-cli2.yaml
Due: secretlint

config(dprint): update copyright year range in header
  dprint.jsonc
Due: none
