Repository atsushifx/zenn-dev: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, textlint, markdownlint

secretlint:
  run: 'secretlint --secretlintrc ./configs/secretlint.config.yaml --secretlintignore .gitignore --maskSecrets "{staged_files}"
  
    '

textlint:
  run: pnpm run lint:text "{staged_files}"

markdownlint:
  run: pnpm run lint:markdown "{staged_files}"

config(commitlint): 使用できるヘッダを追加 config(textlint): ヘッダーコメントを追加
  configs/commitlint.config.js
  configs/textlintrc.yaml
Due: secretlint

deps: zenn-cliをバージョンアップ
  .gitignore
  package.json
Due: none

config: 各種コンフィグをアップデート
  .editorconfig
  .vscode/cspell.json
  dprint.jsonc
Due: secretlint

docs(vibewriting-00): 一人プロジェクトなのにオンボーディングドキュメントを書いてみたを執筆
  articles/elpha-vibewriting-00-onboarding.md
Due: secretlint, textlint, markdownlint

docs(elpha-00): レビューに従い、誤字/脱字の修正、文章の改善
  articles/elpha-vibewriting-00-onboarding.md
Due: secretlint, textlint, markdownlint

docs(elpha-00): 用語解説を追加
  articles/elpha-vibewriting-00-onboarding.md
Due: secretlint, textlint, markdownlint

docs(elpha-00): 参考資料を追加
  articles/elpha-vibewriting-00-onboarding.md
Due: secretlint, textlint, markdownlint

docs(elpha-00): その他の文章の改善
  articles/elpha-vibewriting-00-onboarding.md
Due: secretlint, textlint, markdownlint

docs: add onboarding article for easy-setup-tools-action (#67)
  .vscode/cspell/dicts/zenn-dev.dic
  articles/elpha-vibecoding-01-setup-pester.md
  articles/elpha-vibecoding-02-enviton-manager.md
  articles/elpha-vibewriting-00-onboarding.md
  configs/.textlint/allowlist.yml
  configs/.textlint/dict/smarthr/prh-idiomatic-usage.yml
  configs/textlintrc.yaml
  dprint.jsonc
Due: secretlint, textlint, markdownlint

publish: publish elpha-vibewriting-00
  articles/elpha-vibewriting-00-onboarding.md
Due: secretlint, textlint, markdownlint

config(CodeGPT): CodeGPTによるコミットメッセージ作成
  .gitignore
  README.md
  dprint.jsonc
  lefthook.yml
Due: none

chore(lefthook): コミットメッセージの上書きチェックを追加
  lefthook.yml
  scripts/prepare-commit-msg.sh
Due: secretlint

docs(windows-vibecoding): windowsネイティブでcluade codeを使う方法の記事を作成
  .vscode/cspell/dicts/zenn-dev.dic
  articles/windows-vibecofing-with-busybox.md
  images/articles/vibecoding-01/ss-claude_browser_auth.png
  images/articles/vibecoding-01/ss-claude_browser_token.png
  images/articles/vibecoding-01/ss-claude_console_start.png
  images/articles/vibecoding-01/ss-claude_console_token.png
Due: secretlint, textlint, markdownlint

docs(windows-vibecoding): 用語集を追加
  articles/windows-vibecofing-with-busybox.md
Due: secretlint, textlint, markdownlint

docs(winodws-vibecoding): 参考資料を追加
  articles/windows-vibecofing-with-busybox.md
Due: secretlint, textlint, markdownlint

docs(windows-vibecoding): レビューに従い、文章を改善
  articles/windows-vibecoding-with-busybox.md
  configs/codegpt.config.yaml
Due: secretlint, textlint, markdownlint

Article/vibecoding/claude-with-busybox (#68)
  .editorconfig
  .gitignore
  .vscode/cspell/dicts/zenn-dev.dic
  README.md
  articles/elpha-vibewriting-00-onboarding.md
  articles/windows-vibecoding-with-busybox.md
  configs/codegpt.config.yaml
  dprint.jsonc
  images/articles/vibecoding-01/ss-claude_browser_auth.png
  images/articles/vibecoding-01/ss-claude_browser_token.png
  images/articles/vibecoding-01/ss-claude_console_start.png
  images/articles/vibecoding-01/ss-claude_console_token.png
  lefthook.yml
  scripts/prepare-commit-msg.sh
Due: secretlint, textlint, markdownlint

publish windows-vibecoding-with-busybox.md
  articles/windows-vibecoding-with-busybox.md
Due: secretlint, textlint, markdownlint

publish elpha-vibewriting-00-onboarding.md
  articles/elpha-vibewriting-00-onboarding.md
Due: secretlint, textlint, markdownlint

ci: update gitleaks version to 8.28
  .github/workflows/ci-secrets-scan.yaml
Due: secretlint

chore: update textlint allowlist and cspell dictionaries
  .vscode/cspell/dicts/zenn-dev.dic
  configs/.textlint/allowlist.yml
  configs/codegpt.config.yaml
  configs/commitlint.config.js
Due: secretlint

docs: add and refine BDD setup guide for Claude Code using atsushifx-style
  articles/claudecode-settings-bdd-style.md
Due: secretlint, textlint, markdownlint

docs(claudecode-bdd): 記事に用語集と参考資料を追加
  articles/claudecode-settings-bdd-style.md
Due: secretlint, textlint, markdownlint

docs(claude-bdd): 記事に図表を追加
  articles/claudecode-settings-bdd-style.md
Due: secretlint, textlint, markdownlint

docs: revise BDD guide for Claude Code with improved clarity, structure, and examples
  articles/claudecode-settings-bdd-style.md
Due: secretlint, textlint, markdownlint

docs(claude-bdd): 校閲プロンプトにより、記事全体を校閲
  articles/claudecode-settings-bdd-style.md
Due: secretlint, textlint, markdownlint

docs(claude-bdd): refine BDD setup guide with improved structure and examples (#70)
  .vscode/cspell/dicts/zenn-dev.dic
  articles/claudecode-settings-bdd-style.md
  configs/.textlint/allowlist.yml
  configs/codegpt.config.yaml
  configs/commitlint.config.js
Due: secretlint, textlint, markdownlint

publish: publish to zenn.dev (claudecode-bdd)
  articles/claudecode-settings-bdd-style.md
Due: secretlint, textlint, markdownlint

chore: スペルチェック向上のため辞書のタイプミスを修正
  .vscode/cspell/dicts/zenn-dev.dic
Due: secretlint

config(cspell): cspell辞書に用語を追加
  .vscode/cspell/dicts/zenn-dev.dic
Due: secretlint

config(gitignore): refine comments and update ignore rules
  .gitignore
Due: none

config(mcp): mcp サーバー設定を追加 (serena-mcp, codex-mcp)
  .mcp.json
Due: none

chore(scripts): コミットメッセージ自動生成スクリプトをCodex CLIベースに刷新
  .claude/agents/commit-message-generator.md
  lefthook.yml
  scripts/prepare-commit-msg.sh
Due: secretlint, textlint, markdownlint

ci(config): gitleaks ci 設定を導入しワークフローを修正
  .github/workflows/ci-secrets-scan.yaml
  configs/gitleaks.ci.toml
  configs/gitleaks.toml
Due: secretlint

docs(github): プルリクエスト テンプレートを追加
  .github/PULL_REQUEST_TEMPLATE.md
Due: secretlint, textlint, markdownlint

merge (#76): chore(config): 開発環境設定の統合更新とツール連携の強化
  .claude/agents/commit-message-generator.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci-secrets-scan.yaml
  .gitignore
  .mcp.json
  .vscode/cspell/dicts/zenn-dev.dic
  configs/gitleaks.ci.toml
  configs/gitleaks.toml
  lefthook.yml
  scripts/prepare-commit-msg.sh
Due: secretlint, textlint, markdownlint

deps(config): zenn-cli を ^0.2.9 に更新
  package.json
Due: none

Path conditions:
  secretlint: any of: **/*
  textlint: any of: **/*.md
  markdownlint: any of: **/*.md
