Repository atsushifx/zenn-dev: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, textlint, markdownlint

secretlint:
  run: 'secretlint --secretlintrc ./configs/secretlint.config.yaml --secretlintignore .gitignore --maskSecrets "{staged_files}"
  
    '
  skip:
  - empty

textlint:
  run: 'textlint --config ./configs/textlintrc.yaml --cache --cache-location .cache/textlint_cache "{staged_files}"
  
    '
  skip:
  - empty

markdownlint:
  run: 'markdownlint-cli2 --config ./configs/.markdownlint.yaml "{staged_files}"
  
    '
  skip:
  - empty

config(cspell): update copyright year range in header
  .vscode/cspell.json
Due: secretlint

config(commitlint): add custom parser preset for merge commit headers
  configs/commitlint.config.js
Due: secretlint

chore(scripts/actionlint): remove lint-actionlint.sh script
  scripts/lint-actionlint.sh
Due: secretlint

chore(scriptsi/commit-msg): update copyright year range
  scripts/prepare-commit-msg.sh
Due: secretlint

merge (#144): config: update configs and remove deprecated scripts
  .github/workflows/ci-lint-articles.yaml
  .vscode/cspell.json
  configs/.markdownlint-cli2.yaml
  configs/commitlint.config.js
  dprint.jsonc
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/lint-actionlint.sh
  scripts/prepare-commit-msg.sh
Due: secretlint

merge (#143): docs(ci/validate-env): CIパイプラインのGateパターン解説記事を追加
  articles/ci-gha-secure-with-validate-environment.md
Due: secretlint, textlint, markdownlint

Update ci-gha-secure-with-validate-environment.md
  articles/ci-gha-secure-with-validate-environment.md
Due: secretlint, textlint, markdownlint

merge (#162): deps(package): update CI actions and zenn-cli
  .github/workflows/ci-lint-articles.yaml
  package.json
  pnpm-lock.yaml
Due: secretlint

config(.editorconfig,.gitignore): update settings
  .editorconfig
  .gitignore
Due: none

config(package.json): update npm scripts and tooling setup
  package.json
Due: none

config(dprint): update dprint plugins to latest versions
  dprint.jsonc
Due: none

config(lefthook): replace gitleaks with betterleaks in pre-commit hook
  lefthook.yml
Due: none

config(configs/betterleaks): replace gitleaks to betterleaks
  configs/betterleaks.toml
  configs/gitleaks.toml
Due: secretlint

config(claude/settings): add project Claude Code settings
  .claude/settings.json
Due: secretlint

config(shell): add ShellSpec and ShellCheck configuration files
  .shellspec
  configs/shellcheckrc
Due: secretlint

config(configs/commitlint): migrate to ESM and fix merge pattern regex
  configs/commitlint.config.js
Due: secretlint

config(configs/textlint/*): fix source paths and copyright years
  configs/.textlint/allowlist.yml
  configs/.textlint/dicts/prh-my-settings.yml
  configs/.textlint/dicts/prh.yml
Due: secretlint

config(configs/github-actions): add actionlint and ghalint settings
  configs/actionlint.yaml
  configs/ghalint.yaml
Due: secretlint

config(markdownlint): add globs key to markdownlint-cli2 config
  configs/.markdownlint-cli2.yaml
Due: secretlint

config(vscode): update cspell and workspace settings
  .vscode/cspell.json
  .vscode/cspell/dicts/zenn-dev.dic
  .vscode/cspell/dicts/zenn.dic
  .vscode/settings.json
Due: secretlint

style(scripts/commit-msg): reformat for shellcheck compliance
  scripts/prepare-commit-msg.sh
Due: secretlint

chore(scripts/install-doc-tools): remove install-doc-tools.sh
  scripts/install-doc-tools.sh
Due: secretlint

feat(runners): add shell and documentation runner scripts
  runners/libs/get-filelist.lib.sh
  runners/libs/init-vars.lib.sh
  runners/run-markdownlint.sh
  runners/run-shellcheck.sh
  runners/run-shellspec.sh
  runners/run-shfmt.sh
  runners/run-textlint.sh
Due: secretlint

style(scripts/setup-dev-env): reformat CI check indentation
  scripts/setup-dev-env.sh
Due: secretlint

ci(dependabot): remove Dependabot configuration
  .github/dependabot.yml
Due: secretlint

ci(workflows): migrate reusable workflows from aglabo/.github to ci-platform
  .github/workflows/ci-scan-secrets.yml
  .github/workflows/ci-workflows-qa.yml
Due: secretlint

merge (#163): config(project): update configs, ci tools, and add runner scripts
  .claude/settings.json
  .editorconfig
  .github/dependabot.yml
  .github/workflows/ci-scan-secrets.yml
  .github/workflows/ci-workflows-qa.yml
  .gitignore
  .shellspec
  .vscode/cspell.json
  .vscode/cspell/dicts/zenn-dev.dic
  .vscode/cspell/dicts/zenn.dic
  .vscode/settings.json
  configs/.markdownlint-cli2.yaml
  configs/.textlint/allowlist.yml
  configs/.textlint/dicts/prh-my-settings.yml
  configs/.textlint/dicts/prh.yml
  configs/actionlint.yaml
  configs/betterleaks.toml
  configs/commitlint.config.js
  configs/ghalint.yaml
  configs/gitleaks.toml
  configs/shellcheckrc
  dprint.jsonc
  lefthook.yml
  package.json
  runners/libs/get-filelist.lib.sh
  runners/libs/init-vars.lib.sh
  runners/run-markdownlint.sh
  runners/run-shellcheck.sh
  runners/run-shellspec.sh
  runners/run-shfmt.sh
  runners/run-textlint.sh
  scripts/install-doc-tools.sh
  scripts/prepare-commit-msg.sh
  scripts/setup-dev-env.sh
Due: secretlint

config(commitlint): add publish commit type
  configs/commitlint.config.js
Due: secretlint

merge (#165): config(commitlint): add publish commit type
  .github/workflows/ci-lint-articles.yaml
  configs/commitlint.config.js
Due: secretlint

config(textlint): add ja-space-around-link rule
  configs/textlintrc.yaml
Due: secretlint

config(lefthook): replace to markdownlint in pre-commit hook
  lefthook.yml
Due: none

feat(scripts): add doc-tools installation script
  scripts/install-doc-tools.sh
Due: secretlint

docs(article): fix markdown and textlint formatting
  articles/ast-astudio_install.md
Due: secretlint, textlint, markdownlint

merge (#166): fix(textlint): add ja-space-around-link rule and fix related violations
  articles/ast-astudio_install.md
  configs/textlintrc.yaml
  lefthook.yml
  scripts/install-doc-tools.sh
Due: secretlint, textlint, markdownlint

config(textlint): add spacing rules and remove no-exclamation-question-mark
  configs/textlintrc.yaml
Due: secretlint

refactor(runners/run-shellspec): update path from tests to __tests__
  runners/run-shellspec.sh
Due: secretlint

style(scripts/install-doc-tools): normalize indentation
  scripts/install-doc-tools.sh
Due: secretlint

fix(libs/get-filelist): replace to fd to include dot-directories
  runners/libs/get-filelist.lib.sh
Due: secretlint

fix(runners/run-markdown): replace to markdownlint command
  runners/run-markdownlint.sh
Due: secretlint

merge (#168): fix(scripts): fix bugs in runners and configs
  configs/textlintrc.yaml
  runners/libs/get-filelist.lib.sh
  runners/run-markdownlint.sh
  runners/run-shellspec.sh
  scripts/install-doc-tools.sh
Due: secretlint

Path conditions:
  secretlint: any of: **/*
  textlint: any of: **/*.md
  markdownlint: any of: **/*.md
