Repository atsushifx/zenn-dev: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, textlint, markdownlint

lefthook.yml:

# src: lefthook.yml
## @(#) : lefthook config
#
# @version 1.0.0
# @author  atsushifx <https://github.com/atsushifx>
# @date    2024-02-05
# @license MIT
#
# @desc<<
#
# git hook configuration by lefthook
#
#<<

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks protect --staged

    secretlint:
      glob: "**/*"
      run: >
        secretlint
        --secretlintrc ./configs/secretlint.config.yaml
        --secretlintignore .gitignore
        --maskSecrets
        "{staged_files}"

    textlint:
      glob: "**/*.md"
      run: >
        textlint
        --config ./configs/textlintrc.yaml
        --cache
        --cache-location .cache/textlint_cache
        "{staged_files}"

    markdownlint:
      glob: "**/*.md"
      run: >
        markdownlint-cli2
        --config ./configs/.markdownlint.yaml
        "{staged_files}"

# create default commit message
prepare-commit-msg:
  commands:
    prepare-by-codegpt:
      run: bash -c 'scripts/prepare-commit-msg.sh'

# check commit message style
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: commitlint --config ./configs/commitlint.config.js --edit

config(renocate): add renovate configuration
  renovate.json
Due: none

ci(workflows): update reusable workflows and action pins
  .github/workflows/ci-scan-all.yml
  .github/workflows/codeql-actions-only.yml
Due: secretlint

config(package): add prepare script
  package.json
Due: none

chore(scripts): add powershell installer scripts
  scripts/common/CommonFunctions.ps1
  scripts/common/init.ps1
  scripts/install-dev-tools.ps1
  scripts/install-doc-tools.ps1
  scripts/libs/AgDevMode.ps1
  scripts/libs/AgInstaller.ps1
Due: secretlint

merge (#104): config: update configurations and development tools
  .claude/agents/commit-message-generator.md
  .editorconfig
  .github/workflows/ci-scan-all.yml
  .github/workflows/codeql-actions-only.yml
  .gitignore
  .vscode/cspell.json
  configs/.textlint/dicts/prh-my-settings.yml
  configs/.textlint/dicts/prh.yml
  lefthook.yml
  package.json
  renovate.json
  scripts/common/CommonFunctions.ps1
  scripts/common/init.ps1
  scripts/install-dev-tools.ps1
  scripts/install-doc-tools.ps1
  scripts/libs/AgDevMode.ps1
  scripts/libs/AgInstaller.ps1
  scripts/prepare-commit-msg.sh
Due: secretlint, textlint, markdownlint

chore: consolidate CI, configs, and tooling updates
  .claude/agents/commit-message-generator.md
  .editorconfig
  .github/workflows/ci-lint-articles.yaml
  .github/workflows/ci-scan-all.yml
  .github/workflows/codeql-actions-only.yml
  .gitignore
  .vscode/cspell.json
  configs/.textlint/dicts/prh-atsushifx.yml
  configs/.textlint/dicts/prh-my-settings.yml
  configs/.textlint/dicts/prh.yml
  configs/.textlint/dicts/smarthr/prh-idiomatic-usage.yml
  lefthook.yml
  package.json
  pnpm-lock.yaml
  renovate.json
  scripts/install-doc-tools.sh
  scripts/prepare-commit-msg.sh
Due: secretlint, textlint, markdownlint

ci(workflows): improve lint workflow diagnostics and pin actions
  .github/workflows/ci-lint-articles.yaml
Due: secretlint

merge (#106)] ci: improve lint workflow diagnostics and consolidate CI/config/tooling updates
  .github/workflows/ci-lint-articles.yaml
  scripts/install-doc-tools.sh
Due: secretlint

ci: improve workflow diagnostics and update CI tooling
  .github/workflows/ci-lint-articles.yaml
  .github/workflows/codeql-actions-only.yml
  scripts/install-doc-tools.sh
Due: secretlint

docs(articles): add deckrd goals-to-tasks framework article
  articles/oss-deckrd-goals-to-tasks-framework.md
Due: secretlint, textlint, markdownlint

docs(articles/oss-deckrd): rewrite deckrd goals-to-tasks article and add DR diagram
  articles/oss-deckrd-goals-to-tasks-framework.md
  images/articles/oss-deckrd/deckrd-dr.png
Due: secretlint, textlint, markdownlint

docs(articles/oss-deckrd): 用語集を追加
  articles/oss-deckrd-goals-to-tasks-framework.md
Due: secretlint, textlint, markdownlint

docs(articles/oss-deckrd): update article diagrams and decision-focused explanations
  articles/oss-deckrd-goals-to-tasks-framework.md
  images/articles/oss-deckrd/deckrd-01-fragmentation-s.png
  images/articles/oss-deckrd/deckrd-02-basicflow.png
  images/articles/oss-deckrd/deckrd-basicflow.png
  images/articles/oss-deckrd/deckrd-dr.png
  images/articles/oss-deckrd/deckrd-flow+dr.png
  images/articles/oss-deckrd/dr.drawio.png
Due: secretlint, textlint, markdownlint

docs(articles/oss-deckrd): 表を追加
  articles/oss-deckrd-goals-to-tasks-framework.md
Due: secretlint, textlint, markdownlint

config: clean up configs and remove obsolete scripts
  .vscode/cspell.json
  .vscode/cspell/dicts/zenn-dev.dic
  configs/.markdownlint.yaml
  scripts/common/CommonFunctions.ps1
  scripts/common/init.ps1
  scripts/install-dev-tools.ps1
  scripts/install-doc-tools.ps1
  scripts/libs/AgDevMode.ps1
  scripts/libs/AgInstaller.ps1
Due: secretlint

merge (#110): ci: update CI workflows and clean up development infrastructure
  .github/workflows/ci-lint-articles.yaml
  .github/workflows/codeql-actions-only.yml
  .vscode/cspell.json
  .vscode/cspell/dicts/zenn-dev.dic
  configs/.markdownlint.yaml
  scripts/common/CommonFunctions.ps1
  scripts/common/init.ps1
  scripts/install-dev-tools.ps1
  scripts/install-doc-tools.ps1
  scripts/install-doc-tools.sh
  scripts/libs/AgDevMode.ps1
  scripts/libs/AgInstaller.ps1
Due: secretlint

Update oss-deckrd-goals-to-tasks-framework.md
  articles/oss-deckrd-goals-to-tasks-framework.md
Due: secretlint, textlint, markdownlint

docs(agents/commit-message): remove unused textlint rule
  .claude/agents/commit-message-generator.md
Due: secretlint, textlint, markdownlint

config(lefthook): change commit message model to sonnet
  lefthook.yml
Due: none

config(scripts): claude実行時にハングアップするBugをFix
  scripts/prepare-commit-msg.sh
  scripts/prepare.sh
Due: secretlint

merge (#113): config(scripts): Claude 実行時のハングアップバグ修正とモデル設定更新
  .claude/agents/commit-message-generator.md
  lefthook.yml
  scripts/prepare-commit-msg.sh
  scripts/prepare.sh
Due: secretlint, textlint, markdownlint

config(cspell): add editor and tool terms to dictionary
  .vscode/cspell/dicts/zenn-dev.dic
Due: secretlint

config(textlint): expand allowlist for numeric units and suffixes
  configs/.textlint/allowlist.yml
Due: secretlint

docs(articles): add and refine Windows dev environment article for 2026
  articles/dev-devenv-2026.md
Due: secretlint, textlint, markdownlint

docs(articles/dev-devenv-2026): polish dev environment article
  articles/dev-devenv-2026.md
Due: secretlint, textlint, markdownlint

docs(articles): refine Windows dev environment article for 2026
  articles/dev-devenv-2026.md
Due: secretlint, textlint, markdownlint

merge (#118): config(development): update development environment configurations
  .github/workflows/ci-lint-articles.yaml
  .github/workflows/codeql-actions-only.yml
  .vscode/cspell/dicts/zenn-dev.dic
  configs/.textlint/allowlist.yml
Due: secretlint

fix(scripts): add pnpm exec prefix to lint commands
  package.json
Due: none

ci(workflows): remove conditional install and pnpm list
  .github/workflows/ci-lint-articles.yaml
Due: secretlint

feat(scripts): add global install option to doc tools installer
  scripts/install-doc-tools.sh
Due: secretlint

fix(scripts): remove extra space in textlint command
  package.json
Due: none

merge (#119): docs(articles): add Windows development environment article for 2026
  .github/workflows/ci-lint-articles.yaml
  articles/dev-devenv-2026.md
  package.json
  scripts/install-doc-tools.sh
Due: secretlint, textlint, markdownlint

publish dev-devenv-2026
  articles/dev-devenv-2026.md
Due: secretlint, textlint, markdownlint

deps(package): bump zenn-cli from 0.4.0 to 0.4.1
  package.json
  pnpm-lock.yaml
Due: none

config(commitlint): convert to commonjs module format
  configs/commitlint.config.js
Due: secretlint

merge (#121): config: update configurations and dependencies to latest versions
  configs/commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: secretlint

ci(workflows): remove deprecated CodeQL Actions workflow
  .github/workflows/codeql-actions-only.yml
Due: secretlint

config(cspell): add gha to custom dictionary
  .vscode/cspell/dicts/zenn-dev.dic
Due: secretlint
