Repository atsushifx/zenn-dev: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, textlint, markdownlint

lefthook.yml:

## @(#) : lefthook config
#
# @version 1.0.0
# @author  Furukawa, Atsushi <atsushifx@gmail.com>
# @date    2024-02-05
# @license MIT
#
# @desc<<
#
# git hook configuration by lefthook
#
#<<

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks protect --staged

    secretlint:
      glob: "**/*"
      run: secretlint --maskSecrets --secretlintignore .gitignore "{staged_files}"

    textlint:
      glob: "**/*.md"
      run: pnpm run lint:text "{staged_files}"

    markdownlint:
      glob: "**/*.md"
      run: pnpm run lint:markdown "{staged_files}"

# check commit message style
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: pnpm exec commitlint -e

fix(working-dir): 断定型で書き直し
  articles/wsl2-setup-create-working-dir.md
Due: secretlint, textlint, markdownlint

fix(working-dir): レビューに従い、文章を修正
  articles/wsl2-setup-create-working-dir.md
Due: secretlint, textlint, markdownlint

fix(working-dir): 校閲に従い、文章を修正
  articles/wsl2-setup-create-working-dir.md
Due: secretlint, textlint, markdownlint

merge(#61): docs(working-dir): WSL 2でのXDG準拠ディレクトリ構成ガイドを追加
  .vscode/cspell/dicts/zenn-dev.dic
  articles/wsl2-setup-create-working-dir.md
Due: secretlint, textlint, markdownlint

chore(github): add secretsscan on github actions
  .github/workflows/secretsscan.yaml
Due: secretlint

Update wsl2-setup-create-working-dir.md
  articles/wsl2-setup-create-working-dir.md
Due: secretlint, textlint, markdownlint

chore(scripts): installer scripts move bin to scripts
  scripts/ag-install-linter.ps1
  scripts/ag-install-linter.sh
Due: secretlint

ci: gitleaks による CI 上の機密情報チェックを追加
  .github/workflows/ci-lint.yaml
  .github/workflows/ci-secrets-scan.yaml
Due: secretlint

feat(configs): 書く設定ファイルを./configs/下に移動
  .commitlintrc.ts
  .secretlintrc.yml
  configs/.markdownlint.yaml
  configs/.textlint/allowlist.yml
  configs/.textlint/dict/prh-atsushifx.yml
  configs/.textlint/dict/prh.yml
  configs/.textlint/dict/smarthr/prh-idiomatic-usage.yml
  configs/commitlint.config.js
  configs/gitleaks.toml
  configs/secretlint.config.yaml
  configs/textlintrc.yaml
  configs/vale.ini
  dprint.jsonc
  lefthook.yml
  package.json
Due: secretlint

fix(workflows): update secret scan
  .github/workflows/ci-secrets-scan.yaml
Due: secretlint

merge(#63): chore(config): migrate lint and CI configs to configs/ directory
  .commitlintrc.ts
  .github/workflows/ci-lint.yaml
  .github/workflows/ci-secrets-scan.yaml
  .github/workflows/secretsscan.yaml
  .secretlintrc.yml
  configs/.markdownlint.yaml
  configs/.textlint/allowlist.yml
  configs/.textlint/dict/prh-atsushifx.yml
  configs/.textlint/dict/prh.yml
  configs/.textlint/dict/smarthr/prh-idiomatic-usage.yml
  configs/commitlint.config.js
  configs/gitleaks.toml
  configs/secretlint.config.yaml
  configs/textlintrc.yaml
  configs/vale.ini
  dprint.jsonc
  lefthook.yml
  package.json
  scripts/ag-install-linter.ps1
  scripts/ag-install-linter.sh
Due: secretlint

build(deps): update zenn-cli to latest version
  package.json
Due: none

feat: update Copilot instructions to Elpha specification
  .github/copilot-instrunctions.md
Due: secretlint, textlint, markdownlint

chore(configs): update configs for lint / formatter
  .vale.ini
  configs/.textlint/dict/smarthr/prh-idiomatic-usage.yml
  dprint.jsonc
  package.json
Due: secretlint

docs(temp): 参照用に、chatgptのログを追加
  configs/.textlint/allowlist.yml
  configs/textlintrc.yaml
  temp/chatgpt-log-2025.04.28.md
Due: secretlint, textlint, markdownlint

docs(elpha-01): Pester開発日誌を執筆
  articles/elpha-vibecoding-01-setup-pester.md
  configs/.textlint/allowlist.yml
Due: secretlint, textlint, markdownlint

docs(elpha-01): キャラクター名を強調
  articles/elpha-vibecoding-01-setup-pester.md
  configs/.textlint/dict/smarthr/prh-idiomatic-usage.yml
Due: secretlint, textlint, markdownlint

docs(elpha-01): 用語集を追加
  articles/elpha-vibecoding-01-setup-pester.md
Due: secretlint, textlint, markdownlint

docs(elpha-01): 図表にキャプションを追加
  articles/elpha-vibecoding-01-setup-pester.md
Due: secretlint, textlint, markdownlint

merge(#64): feat(pester-setup): 初期TDD環境の構築とサンプルテストの追加
  .github/copilot-instrunctions.md
  .vale.ini
  articles/elpha-vibecoding-01-setup-pester.md
  configs/.textlint/allowlist.yml
  configs/.textlint/dict/smarthr/prh-idiomatic-usage.yml
  configs/textlintrc.yaml
  dprint.jsonc
  package.json
  temp/chatgpt-log-2025.04.28.md
Due: secretlint, textlint, markdownlint

publish: elpha-01-記事の公開
  articles/elpha-vibecoding-01-setup-pester.md
Due: secretlint, textlint, markdownlint

docs(elpha-02): フロントマター作成
  articles/elpha-vibecoding-01-setup-pester.md
  articles/elpha-vibecoding-02-dirs-from-pipe.md
Due: secretlint, textlint, markdownlint

chore(lefthook): update lint run settings
  lefthook.yml
Due: none

docs(elpha-02): テーマを環境変数マネージャーの作成に変更
  articles/elpha-vibecoding-02-dirs-from-pipe.md
  articles/elpha-vibecoding-02-enviton-manager.md
Due: secretlint, textlint, markdownlint

docs(elpha-02): 環境変数マネージャーの構成と章立てを設定
  articles/elpha-vibecoding-02-enviton-manager.md
Due: secretlint, textlint, markdownlint

docs(elpha-02): 記事全体の章構成とLv2見出しを整備・確定
  articles/elpha-vibecoding-02-enviton-manager.md
Due: secretlint, textlint, markdownlint

chore(textlint): update textlint rules
  configs/.textlint/allowlist.yml
  configs/.textlint/dict/smarthr/prh-idiomatic-usage.yml
  configs/textlintrc.yaml
Due: secretlint

docs(elph-02): 1.3まで執筆
  articles/elpha-vibecoding-02-enviton-manager.md
Due: secretlint, textlint, markdownlint

docs(elpha-02): 1章を執筆
  articles/elpha-vibecoding-02-dirs-from-pipe.md
  articles/elpha-vibecoding-02-enviton-manager.md
Due: secretlint, textlint, markdownlint

fix(elpha-02): レビューに従い、1章の文章を修正
  articles/elpha-vibecoding-02-enviton-manager.md
Due: secretlint, textlint, markdownlint

docs(elpha-02): 2.1まで執筆
  .vscode/cspell/dicts/zenn-dev.dic
  articles/elpha-vibecoding-02-enviton-manager.md
Due: secretlint, textlint, markdownlint

docs(elpha-02): 2.3 `GetRaw`の実装まで執筆
  articles/elpha-vibecoding-02-enviton-manager.md
Due: secretlint, textlint, markdownlint

docs(elpha-02): 2.4まで執筆
  articles/elpha-vibecoding-02-enviton-manager.md
Due: secretlint, textlint, markdownlint

chore(workflows): update gitleaks version to 8.26.0
  .github/workflows/ci-secrets-scan.yaml
Due: secretlint

config(configs): update configs
  .editorconfig
  .gitignore
  .vale.ini
  .vscode/cspell.json
  CODE_OF_CONDUCT.md
  CODE_of_CONDUCT.ja.md
  configs/.markdownlint.yaml
  configs/.textlint/dict/prh-atsushifx.yml
  configs/.textlint/dict/prh.yml
  configs/commitlint.config.js
  configs/gitleaks.toml
  configs/secretlint.config.yaml
  configs/textlintrc.yaml
  dprint.jsonc
  lefthook.yml
Due: secretlint

config(configs): update configs (#66)
  .editorconfig
  .gitignore
  .vale.ini
  .vscode/cspell.json
  CODE_OF_CONDUCT.md
  CODE_of_CONDUCT.ja.md
  configs/.markdownlint.yaml
  configs/.textlint/dict/prh-atsushifx.yml
  configs/.textlint/dict/prh.yml
  configs/commitlint.config.js
  configs/gitleaks.toml
  configs/secretlint.config.yaml
  configs/textlintrc.yaml
  dprint.jsonc
  lefthook.yml
Due: secretlint

docs(elpha-02): 2.5 Setの実装まで執筆
  articles/elpha-vibecoding-02-enviton-manager.md
Due: secretlint, textlint, markdownlint

docs(elpha-02): 2.4 Removeまで執筆
  articles/elpha-vibecoding-02-enviton-manager.md
Due: secretlint, textlint, markdownlint

docs(elpha-02): レベル3の見出しを再構成
  articles/elpha-vibecoding-02-enviton-manager.md
Due: secretlint, textlint, markdownlint
